@model SystemExamWebSite.DataBase.tbl_Admin
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>  إمتحان أونلاين | إدارة المسئولين </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="نظام إمتحان أونلاين" name="description" />
    <meta content="MohamedEid" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/logonew.png">
    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />

    <script src="~/assets/js/modernizr.min.js"></script>


</head>


<body>

    <!-- Begin page -->
    <div id="wrapper" class="mt-2">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="p-2 m-0 text-center">
                <h3> <img src="~/assets/images/logoblue.png" width="120" height="50" /></h3>
            </div>

            <!--- Sidemenu -->
            <div id="sidebar-menu" class="pt-0 mt-0">
                <!-- Left Menu Start -->
                <ul class="metismenu text-right" id="side-menu">
                    <li>
                        <a href="" class="" onclick="return false">
                            <span> الرئيسية </span>   <i class="ti-bookmark"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" onclick="return false">
                            <span> إدارة المسئولين </span> <i class="ti-desktop"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" onclick="return false">
                            <span> إدارة المستويات </span> <i class="ti-book"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" onclick="return false">
                            <span> إدارة الأقسام </span>  <i class="ti-book"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" onclick="return false">
                            <span> إدارة هيئة التدريس </span> <i class="ti-user"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" onclick="return false">
                            <span> إدارة الطلاب </span>  <i class="ti-id-badge"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" onclick="return false">
                            <span> طلبات هيئة التدريس </span>  <i class="ti-location-arrow"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" onclick="return false">
                            <span> الإعدادت </span>  <i class="ti-settings"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" onclick="return false">
                            <span> تسجيل خروج </span>  <i class="ti-export"></i>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- Sidebar -->
            <div class="clearfix"></div>

        </div>

        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="header-title m-t-0 m-b-20 text-right">  حذف مسئول <span class="fa fa-trash"> </span></h4>


                            <br />
                            <br />
                            @using (Html.BeginForm("DeleteAdmin", "Admin", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.Admin_Id)
                                @Html.HiddenFor(model => model.Admin_Email)
                                @Html.HiddenFor(model => model.Admin_Password)
                                @Html.HiddenFor(model => model.Admin_Phone)
                                @Html.HiddenFor(model => model.Admin_CreatedOn)
                                <h5 class="text-right text-danger"> هل أنت متأكد من حذف المسئول ؟</h5>
                                <h5 class="text-right">  @Html.DisplayFor(model => model.Admin_Name) <span class="fa fa-user"></span></h5>
                                //Buttons
                                <div class="form-group">
                                    <div class="text-center">
                                        <input type="submit" class="btn btn-danger" role="button" style="background-color:#428bca; width:600px;" value="حذف" />
                                    </div>
                                </div>
                            }
                            <br />
                            <br />
                            <div class="form-group">
                                <div class="row">
                                    @Html.ActionLink("العودة للصفحة السابقة", "AdminMangement", "Admin", new { id = "" }, new { @class = "btn-custom-secondary" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- container -->
                <div class="footer">
                    <div class="pull-right hide-phone">
                        محمد عيد 2020
                    </div>
                </div>
            </div> <!-- content -->
        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->


    </div>

    <!-- END wrapper -->
    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/metisMenu.min.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>

    <!-- App js -->
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>

</body>
</html>